.containerWrapper {
  position: relative;
  width: 100%;
  max-height: 672px;
  padding: 0 25px;
  margin-top: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.container > div {
  margin-right: 32px;
}

.container > div:last-child {
  margin-right: 0;
}

.hoveredCard {
  transition: all 0.3s ease;
  transform: scale(1.01);
}

.arrow {
  position: fixed;
  font-size: 2rem;
  color: #333;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  padding: 5px 8px;
  border-radius: 50%;
  z-index: 1;
  user-select: none;
  pointer-events: all;
}

.arrowIcon {
  display: block;
  font-size: 30px;
  color: white;
  padding-bottom: 5px;
}

.indicatorContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.indicator {
  margin-right: 4px;
}

@media (max-width: 1024px) {
  .container > div {
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  .container > div {
    margin-right: 8 px;
  }

  .indicatorContainer {
    margin-top: 24px;
  }
}
